*.class
bin/*

local.properties
.classpath
Recordings/*
log/*
!log/.keepme
nbproject/*
bin/
libvlc/*
Deploy/*
.idea/*
Inbox/*
Outbox/*
iCalabo/*


jajeem.db.*
logapp.log
hs_*.log
viewer.conf
server.conf
conf.properties
