<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="activationBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="activationBinding"
                bindingConfiguration="activationBinding"
                contract="Activatar.IActivationService"
                address="http://localhost:11024/ActivationService.svc"
                binding="basicHttpBinding" />
    </client>
  </system.serviceModel>
</configuration>
