<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="activationBinding" />
        <binding name="productKeyBinding" />
      </basicHttpBinding>
    </bindings>
    <!-- DEBUG Config
    <client>
      <endpoint name="activationBinding"
                bindingConfiguration="activationBinding"
                contract="Activatar.IActivationService"
                address="http://localhost:11024/ActivationService.svc"
                binding="basicHttpBinding" />
      <endpoint name="productKeyBinding"
                bindingConfiguration="productKeyBinding"
                contract="Activatar.SampleApp.IProductKeyService"
                address="http://localhost:11024/ProductKeyService.svc"
                binding="basicHttpBinding" />
    </client>-->

    <!-- RELEASE Config -->
    <client>
      <endpoint name="activationBinding" bindingConfiguration="activationBinding" contract="Activatar.IActivationService" address="http://www.activatar.com/ActivationService.svc" binding="basicHttpBinding"/>
      <endpoint name="productKeyBinding" bindingConfiguration="productKeyBinding" contract="Activatar.SampleApp.IProductKeyService" address="http://www.activatar.com/ProductKeyService.svc" binding="basicHttpBinding"/>
    </client>
  </system.serviceModel>
</configuration>
